 {
  "printWidth": 80,
  "tabWidth": 4,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@core/(.*)$", "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
